<form class="border rounded p-5 w-50 mb-5 mx-auto">
    <div class="container text-center">
        <div class="mb-3"> 
            <label class="form-label"> Login </label>
            <input class="form-control" type="text" name="firstName" [(ngModel)]="user.login"/>
        </div>
        <div class="mb-3">   
            <label class="form-label"> Password </label>
            <input class="form-control" type="text" name="lastName" [(ngModel)]="user.password"/>
        </div>
        <div class="mb-3 d-flex justify-content-center align-items-center flex-column">   
            <label class="form-label" mb-5> Status </label>
            <input class="form-check-input" type="checkbox" name="lastName" [(ngModel)]="user.status"/>
        </div>
        <button class="btn btn-outline-primary btn-m" type="submit" (click)="onSubmit()">Sign In</button>
    </div>
</form>